<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <title>Futebol: História, Regras e Curiosidades</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      background: #f4f4f4;
      margin: 0;
      padding: 0;
    }
    header {
      background: #000000;
      color: white;
      padding: 20px;
      text-align: center;
    }
    nav {
      background: #302e2e;
      display: flex;
      justify-content: center;
      gap: 20px;
      padding: 10px;
    }
    nav a {
      color: white;
      text-decoration: none;
      font-weight: bold;
    }
    section {
      padding: 20px;
      max-width: 900px;
      margin: auto;
      background: white;
      margin-top: 20px;
      border-radius: 8px;
      box-shadow: 0 0 10px rgba(0,0,0,0.1);
    }
    h2 {
      color: #000000;
    }
    footer {
      background: #00000000;
      color: rgb(0, 0, 0);
      text-align: center;
      padding: 10px;
      margin-top: 20px;
    }
